<!doctype html>
  <html>
    <head>
		<title>Hello webpack</title>
		<link rel="shortcut icon" href="./assets/coffee.png" type="image/png">
    </head>
    <body>
			<details title="FUCKED UUPPP P PP P s"> 
				<summary translate="yes"> 
					Header of details
				</summary>
				Body of details
				<del> 
					deleted text
				</del>
				<ins> 
					iserted text
				</ins>
			</details>
			<!-- <code hidden="hidden" style="border: 1px solid black; padding: 2px;">
				let a 'equal' rarara() { ... }
			</code> -->

			<hr>

			<details>
				<summary>
					HTML Text
				</summary>
				<main >
					<h1> Заголовок первого уровня </h1>
					<h2> Заголовок второго уровня </h2>
					<h3> Заголовок третьего уровня </h3>
					<h4> Заголовок четвертого уровня </h4>
					<h5> Заголовок пятого уровня </h5>
					<h6> Заголовок шестого уровня </h6>
				</main>

				<section>
					<h2> Форматирование текста </h2>
					<b> Полужирный текст </b>
					<br>
					<em> Текст курсивом em </em>
					<br>
					<i> Текст курсивом i </i>
					<br>
					<small> Обычный текст, но слегка меньше (small) </small>
					<br>
					<strong> Тоже полужирный текст, НО дает браузеру знать, что этот текст важен, для кого не знаю, но все же </strong>
					<br>
					<span> Обычный текст </span> <sub> а потом резко в sub </sub> фуух пронесло <sup> Что опять? Но я же выше </sup>
					<br>
					<ins> Подчеркнутый текст </ins>
					<br>
					<del> Перечеркнутый текст </del>
					<br>
					<mark> ВЫЫЫДЕЛЕННЫЙ ТЕКСТ </mark> 

				</section>
				<section> 
					<h2> Компьютерный текст (ТЕГИ!) </h2>
					<code>
						Тег code - Lorem ipsum dolor sit amet consectetur adipisicing elit. In, voluptatibus?
					</code>
					<br>
					<kbd>
						Тег kbd - Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, corrupti!
					</kbd>
					<br>
					<samp>
						Тег samp - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, mollitia!
					</samp>
					<br>
					<var>
						Тег var - переменные Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, culpa?
					</var>
					<pre contenteditable="true">
						Тег pre - 
						сохраняет исходное форматирование
					</pre>
				</section>

				<section>
					<h2> Теги оформления цитат и определений </h2>

					<abbr title="Расшифрока аббревиатуры лол">
						АББРЕВИАТУРА
					</abbr>
					<br>	
					<bdo dir="rtl">
						Тег так-то <b> bdo </b> вдобавок текст справа налево 
					</bdo>
					<br>
					<blockquote>
						Бооольшааааая цитата так-то 
						тег <b> blockquote </b>
						<bdo dir="rtl">
							Хочу говняшку в виде текста справа налево :з
						</bdo>
					</blockquote>
					<br>
					<q>Микро-цитата внимай меня внимательно - JS <bdo dir="rtl"> <b> лучше всех </b> </bdo> </q>
					<br>
					<dfn>
						Тут - определение фундаментальности JavaScript (тег <b> dfn </b> )
					</dfn>
				</section>

				<section>
					<h2> Абзацы и средства переноса </h2>
					
					<p>
						Тут мы и так все знаем br <br> и <hr> (ну и текст весь в p)
					</p>
				</section>
			</details>

			
    </body>
  </html>